/* Botón */
.boton {
    background-color: red;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 1s linear;
}

.boton:hover {
    background-color: rgb(11, 9, 9);}