/* Botón */
.boton {
    background-color: red;
    color: white;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
}

.boton:hover {
    background-color: darkred;}