.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
    text-shadow: 2px 2px 5px rgba(5, 5, 5, 0.7);
    transition: transform 0.3s ease-in-out;
  }

.titulo:hover{
  transform: scale(1.4);
}

  .title_img {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }